#ignore intermediate compiled file
*.class

#ignore jar file
*.jar

#ignore source file
/source

# ignore log temp file
msg.tmp

# ignore vim temp file.
*.swp

# ignore others directory
/others

/test_result

/lib
/javadoc
log
